<footer id="footer" class="py-4">
  <div class="container text-center">
    <div class="social-links mb-3">
      <a href="https://www.linkedin.com/in/siddik-ben-hamouda-106390264/" class="social-icon me-3">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/Seddik-Ben-Hamouda" class="social-icon me-3">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.behance.net/MohamedSiddikHamouda" class="social-icon me-3">
        <i class="fab fa-behance"></i>
      </a>
      
    </div>
    <p class="mb-0">Copyright &copy; 2025 - Designed and Developed by Mohamed Seddik Ben Hamouda</p>
  </div>
</footer>
