<header>
  <div class="logo">
    <span class="highlight">Seddik</span> B.Hamouda
  </div>

  <nav>
    <ul>
      <li><a href="#home" [class.active]="activeSection === 'home'">Home</a></li>
      <li><a href="#about" [class.active]="activeSection === 'about'">About</a></li>
      <li><a href="#skills" [class.active]="activeSection === 'skills'">Skills</a></li>
      <li><a href="#projects" [class.active]="activeSection === 'projects'">Projects</a></li>
      <li><a href="#education" [class.active]="activeSection === 'education'">Education</a></li>
      <li><a href="#experience" [class.active]="activeSection === 'experience'">Experience</a></li>
    </ul>
  </nav>
</header>
