html {
  scroll-behavior: smooth;
}


#home {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23d4d4d4' fill-opacity='0.1'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  overflow: hidden;
}

.hello-box {
  border: 1px solid #ddd;
}

.image-container {
  position: relative;
}

.image-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: #0d6efd;
  border-radius: 45% 55% 60% 40% / 40% 45% 55% 60%;
  z-index: 0;
  opacity: 0.9;
}
.image-container img {
  position: relative;
  z-index: 1;
  max-width: 85%;
}

.badge-custom {
  position: absolute;
  background-color: #0d6efd;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.web-designer-badge {
  top: 20%;
  left: 0;
}

.uiux-designer-badge {
  bottom: 20%;
  right: 0;
}

.skills-bar {
  position: absolute;
  
  background-color: #0d6efd;
  color: white;
  font-weight: 500;
  padding: 15px 0;
  overflow: hidden;
  white-space: nowrap;
  z-index: 2;
}

.skills-bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #343a40;
    transform: rotate(1deg);
    z-index: -1;
}

.skills-content {
  display: inline-block;
  animation: marquee 20s linear infinite;
}

.skills-content span {
  margin-right: 30px;
}

.star-separator {
  color: #ffc107;
  font-size: 1.2rem;
  margin: 0 15px;
}

img {
  max-width: 100%;
  border-radius: 12px;
}

@keyframes marquee {
  0% {
    transform: translateX(90%);
  }
  100% {
    transform: translateX(-50%);
  }
}
